
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 

<link rel="stylesheet" href="{$PROOT}css/sweet-alert.css">
<link rel="icon" type="image/png" href="{$PROOT}i/favicon.png">
<link rel="apple-touch-icon-precomposed" href="{$PROOT}i/app-icon72x72@2x.png">
<meta name="apple-mobile-web-app-title" content="LOVESHANG" />
<link rel="stylesheet" href="{$PROOT}css/amazeui.min.css" />
<link rel="stylesheet" href="{$PROOT}css/admin.css">
<link rel="stylesheet" href="{$PROOT}css/app.css">
<link rel="stylesheet" href="{$PROOT}css/common.css">


<script src="{$PROOT}js/jquery.min.js"></script>
<script src="{$PROOT}js/echarts.min.js"></script>
<script src="{$PROOT}js/amazeui.min.js"></script>
<script src="{$PROOT}js/iscroll.js"></script>
<script src="{$PROOT}js/app.js"></script>
<script src="{$PROOT}js/sweet-alert.js"></script>
<script src="{$PROOT}js/ajaxfileupload.js"></script>
<script src="{$PROOT}js/laydate.js"></script>